.main
	.profile
		.heading 
			.user-avatar 
				img(src=changeAvatar, alt="change avatar")
			.title= title
		.user-info 
			| !{email}
			| !{login}
			| !{first_name}
			| !{second_name}
			| !{display_name}
			| !{phone}
		.user-actions
			|	!{save_btn}
			|	!{cancel}