.main
	.profile
		.heading
			.user-avatar 
				img(src=changeAvatar, alt="change avatar")
			.user-name= display_name
			.title= title
		.user-info 
			|!{form}
			//- | !{old_password}
			//- | !{new_password}
			//- | !{check_password}
		.user-actions
			//- |	!{save_btn}
			|	!{cancel}
			